body,
html {
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  /* background-size: auto; */
  background-size: contain;
}

.btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}
